root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
max_line_length = 80
trim_trailing_whitespace = true
quote_type = double

# The JSON files contain newlines inconsistently
[*.json]
indent_size = 2
insert_final_newline = false

[*.md]
max_line_length = off
trim_trailing_whitespace = false

[*.njk]
insert_final_newline = false

[*.py]
indent_size = 4
ensure_newline_before_comments = true
include_trailing_comma = true
use_parentheses = true

[*.svg]
insert_final_newline = false

[*.txt]
indent_size = false

[Makefile]
indent_style = tab

# Minified JavaScript files shouldn't be changed
[**.min.js]
indent_style = unset
insert_final_newline = false